// BEST COFFEE
.best-coffee {
  &__card {
    p {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 400;
      line-height: 29.8px;
      text-align: left;
    }

    span {
      margin-right: 12px;
      color: $PRIMARY-COLOR;
    }

    &:hover {
      transform: translateY(-5px);
      transition: 0.3s ease-in-out;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      opacity: 0.9;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 140px 0;
    gap: 36px;
  }
}
