.footer-sub {
  background-color: #1c1814;

  height: 90px;
  text-align: center;

  p {
    text-align: center;

    font-size: 14px;
    font-weight: 500;
    line-height: 25.2px;
    padding: 33px;
  }
}
